*,::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Teko;
    src: url('./../fonts/Teko-Light.ttf');
}

html{
    font-family: Teko, -apple-system;
    background-image: radial-gradient(circle, rgba(66, 66, 66, 0.8), rgb(33, 33, 33), rgba(0, 0, 0));
    animation: start-animation 2s;
}

.wrapper{
    display: flex;
    flex-direction: column;
    background-image: url("./../img/bg-spider-verse-copmpleted.png");
    background-repeat: no-repeat;
    background-position: center;
}

.header{
    height: 200vh;
}

.header:hover{
    cursor: default;
}

.logo{
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 15px;
    height: 100px;
    width: 100px;
    background-size: contain;
    background-image: url("./../img/icons/logo-header-sf.png");
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.logo:hover{
    cursor: pointer;
    animation:rotate-vertical-center 1s;
}

.header div{
    overflow: hidden;
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
}

.header .title1 span{
    height: 100%;
    width: 100%;
    background-image: url("./../img/titulo_spider-verse.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    animation: scale 3s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.header .title2 h1{
    width: 100%;
}

.header .title2 span{
    margin: auto;
    font-weight: 800;
    letter-spacing: -.01em;
    color: rgba(0, 59, 255, 0.8);
    display: block;
    text-transform: uppercase;
    opacity: 0.95;
    animation: scale2 3s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.header .gradiant::before{
    background: linear-gradient(var(--deg), var(--start-color)25%, var(--end-color) 50%);
    content: var(--content);
    position: absolute;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 6px 4px;
    animation: animated-title 9s infinite;
    animation-delay: var(--delay);
}

.container{
    display: flex;
    column-gap: 30px;
    row-gap: 20px;
}

article{
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    transition: box-shadow 0.5s, background-color 0.5s;
}

article:hover{
    background-color: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.85);
}

article img{
    border-radius: 10px;
    transition:transform 0.5s, border-radius 0.5s;
}

article:hover img{
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 25px;
}

footer{
    text-align: center;
    margin-bottom: 5rem;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.btn-git:hover{
    cursor: pointer;
}

.btn-git .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #ffffff;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
    cursor: pointer;
}
/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

@keyframes start-animation {
    0%{
        opacity: 0.8;
        filter: blur(50px);
    }
    75%{
        opacity: 0.9;
        filter: blur(2.5px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes animated-title {
    0%{
        opacity: 0.95;
    }
    45%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.4;
    }
    55%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.95;
    }
}

@keyframes scale2 {
    0%{
        transform: scale(0.8);
    }
    10%{
        transform: scale(1.5);
    }
    20%{
        transform: scale(0.6);
    }
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(3);
    }
}

@keyframes rotate-vertical-center{
    0% {
        transform:rotateY(0)
    }
    100%{
        transform:rotateY(360deg)
    }
}

/*------------- ESTO ES EL LIKE -------------*/
.con-like {
    --red: rgb(255, 50, 100);
    position: relative;
}

.con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-like .outline,
.con-like .filled {
    fill: var(--red);
    position: absolute;
}

.con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
}

.con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
}

.con-like .poly {
    stroke: var(--red);
    fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
    display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
    display: block
}

@keyframes kfr-filled {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes kfr-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
        display: none;
    }
}

/* --------------- MEDIA QUERIES --------------- */

@media only screen and (max-width: 1399px){
    .wrapper{
        background-attachment: fixed;
    }

    .header span{
        font-size: 12rem;
    }

    .container{
        flex-flow: column;
        justify-content: center;
        margin: 2rem 0rem 5rem 0rem;
        align-items: center;
    }

    article{
        padding: 0.8rem 0.8rem 0rem 0.8rem;
    }

    article img{
        width: max-content;
        height: max-content;
    }

    .con-like{
        width: 60px;
        height: 60px;
        margin: 50px auto;
    }
}

@media only screen and (min-width: 1400px) {
    .wrapper{
        background-attachment: fixed;
    }

    .header span{
        font-size: 11rem;
    }

    .container{
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 2rem 5rem 5rem 5rem;
    }

    article{
        padding: 0.8rem 0.8rem 1.1rem 0.8rem;
    }

    article img{
        width: 385px;
        height: 500px;
    }

    .con-like{
        width: 40px;
        height: 40px;
        margin: 8px auto;
    }
}




